.breadcrumb{
	padding-left: 0px !important;
	margin-bottom: 0px;
}
ul.persondatalist{
	overflow: hidden;
}
ul.persondatalist li{
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}
ul.persondatalist li:not(.firstlilist){
	margin-left: 30px;
}
ul.persondatalist li a{
	color: #999999;
	font-family: simsun;
	font-size: 16px;
	padding-bottom: 10px;
}
ul.persondatalist li.activepersondate{
	border-bottom: 4px solid #3CB1F7;
}
ul.persondatalist li.activepersondate a{
	color: #3CB1F7;
}
