
.filtratecon {
	border-top: 2px solid #3CB1F7;
}

.filtrate {
	width: 1200px;
	margin: 0 auto;
}

.brand {
	overflow: hidden;
	padding-top: 20px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 14px;
	font-family: simsun;
}

.brand span.brandtitle,
.brand .brandcon {
	float: left;
}

.brand span.brandtitle {
	display: block;
	color: #333333;
	font-weight: bold;
	height: 154px;
}

.brand .brandcon {
	color: #666666;
	height: 154px;
	width: 1150px;
}

.brand .brandcon span {
	padding-left: 50px;
	display: inline-block;
}

.classify {
	height: 51px;
	line-height: 51px;
	overflow: hidden;
	font-size: 14px;
	font-family: simsun;
	border-bottom: 1px solid #CCCCCC;
}

.classify span.classifytitle,
.classify .classifycon {
	float: left;
}

.classify span.classifytitle {
	display: block;
	color: #333333;
	font-weight: bold;
	height: 154px;
	width: 97px;
}

.classify .classifycon {
	color: #666666;
	height: 154px;
	width: 1100px;
}

.classify .classifycon span {
	padding-right: 40px;
	display: inline-block;
}


/*综合排序*/

.totalindex {
	margin-top: 24px;
	margin-bottom: 20px;
}

.totalindex span {
	font-family: simsun;
	font-size: 12px;
	color: #333333;
	width: 71px;
	height: 25px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	border: 1px solid #999999;
}

.totalindex span:nth-child(2) {
	border-right: 0px !important;
}

.totalindex span:nth-child(odd) {
	border-right: 0px !important;
}

.totalindex span:not(.total) {
	margin-left: -4px;
}

.totalindex span.total {
	background-color: #3cb1f7;
	color: #FFFFFF;
	border: 1px solid #3cb1f7 !important;
}

.totalindex span:nth-child(2),
.totalindex span:nth-child(3) {
	cursor: pointer;
}

.searchcon {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.searchlist{
	float: left;
	width: 240px;
	margin-bottom: 30px;
}
.searchlist span, .searchlist img{
	display: block;
}
.searchlist span:nth-child(2){
	font-family: simsun;
	color: #666666;
	font-size: 12px;
}
.searchlist span:nth-child(3){
	color: #666666;
	font-family: simsun;
	font-size: 14px;
	font-weight: bold;
	padding-top: 13px;
	padding-bottom: 13px;
}
.searchlist span:nth-child(4){
	font-family: "微软雅黑";
	font-size: 24px;
	color: #EB6100;
}
.searchlist span:nth-child(4) del{
	color: #666666;
	font-size: 14px;
	padding-left: 13px;
}
