.itemdetailcon{
	border-top: 2px solid #3cb1f7;
}
/*主要内容区域*/
.detailmain{
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
/*主要内容区域详情导航*/
.detailnav{
	height: 51px;
}
.detailnav .breadcrumb{
	height: 100% !important;
	margin-bottom: 0px !important;
	padding: 17px 0px 0px 0px !important;
}
.detailnav .breadcrumb  li a{
	color: #666666;
	font-family: simsun;
	font-size: 14px;
}
.detailslide, .detailtext{
	float: left;
}
/*主要区域的焦点轮播图*/
ul {
	list-style: none;
}
.detailslide {
	width: 503px;
	position: relative;
	height: 400px;
	margin-right: 35px;
}
.detailslide ul{
	width: 100%;
	height: 400px;
}
.detailslide ul li{
	width: 100%;
}
.detailslide .detailimglist li {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.detailslide .detailimglist li img {
	width: 100%;
	height: 400px;
}
.detailslide .cicreList {
	position: absolute;
	left: 10;
	bottom: 20px;
	font-size: 0px;
	width: 100%;
}
.detailslide .cicreList li {
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	background-color: lightgray;
	border-radius: 50%;
	display: inline-block;
	font-size: 12px;
	margin: 0 5px;
	cursor: pointer;
}
.cicreList li.numactive {
	background-color: #4aa7df;
}
/*右边的商品详情*/
.detailtext{
	width: 525px;
	height: 402px;
	font-family: "微软雅黑";
}
.detailtext span.detailtitle{
	display: block;
	font-size: 24px;
	color: #333333;
	height: 65px;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
/*	white-space:nowrap;*/
	width:100%;
	margin-bottom: 10px;
}
.detailcomm{
	margin-bottom: 8.5px;
}
.detailprice{
	height: 90px;
	overflow: hidden;
	background: url(../img/图层-4.png) no-repeat;
	padding-left: 16px;
}
.detailprice span{
	display:block;
}
.detailprice span:first-child{
	color: #999999;
	font-size: 14px;
	margin-top: 17px;
}
.detailprice span:first-child del{
	color: #333333;
	font-size: 16px;
	margin-left: 20px;
}
.detailprice span:last-child {
	color: red;
	font-size: 24px;
}
.detailprice span:last-child em{
	color: #333333 !important;
	font-size: 18px !important;
	font-style: normal;
}

.detailtotal{
	border-top: 1px dotted #cecece;
	border-bottom: 1px dotted #cecece;
	height: 45px;
}
.detailtotal span{
	color: #333333;
	font-size: 14px;
	display: inline-block;
	width: 254px;
	text-align: center;
	margin-top: 12.5px;
}
.detailtotal span em{
	color: red !important;
	font-style: normal;
}
.detailtotal span:first-child{
	border-right: 1px solid #CECECE;
}

.detailstandard,
.detailsize,
.detailnum {
	font-size: 14px;
}
.detailstandard i,
.detailsize i,
.detailnum i{
	font-style:normal;
	display: inline-block;
	padding-right: 20px;
}
.detailstandard span,
.detailsize span{
	display: inline-block;
	width: 62px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	color: #333333;
	border: 1px solid #b5b5b5;
	margin-right: 12px;
}
.detailsize span{
	width: 34px;
}
.detailnum{
	overflow: hidden;
}
.detailnum div,i{
	float: left;
}
.detailnum div{
	/*height: 27px;*/
	line-height: 27px;
}
.detailnum div a, .detailnum div input{
	height: 100%;
	border: 1px solid #999999;
	display: inline-block;
	width: 27px;
	text-align: center;
}
.detailnum div a:first-child{
	margin-right: -4px;
	border-right: 0px !important;
}
.detailnum div a:nth-child(3){
	margin-left: -4px;
	border-left: 0px !important;
}
.detailnum div span{
	font-size: 14px;
	color: #666666;
	margin-left: 12px;
}
.detailbtn{
	overflow: hidden;
}
.detailbtn a.buybtn, .detailbtn span.buymodel{
	display: block;
	float: left;
}
.detailbtn a.buybtn{
	width: 241px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	background-color: #EB6100;
	color: #FFFFFF;
	font-size: 24px;
	border-radius: 5px;
}
.detailbtn span.buymodel{
	margin-left: 33px;
	height: 52px;
	line-height: 52px;
}
.detailbtn span.buymodel a{
	padding-left: 4px;
}
.detailactiveparent span.detailactive{
		border: 1px solid #3cb1f7 !important;
		color: #50b7f8;
}
/*商品详情的内容区域*/
.detailmelltitle{
	width: 100%;
	height: 70px;
	line-height: 70px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	margin-top: 22px;
	text-align: center;
}
.detailmelltitle a{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #666666;
	width: 120px;
	display: inline-block;
	height: 68px;
	line-height: 68px;
}
.detailmelltitle a:last-child{
	margin-left: 200px;
}

.detailmelltitle a.activedetail{
	border-bottom: 2px solid #3CB1F7;
}

/*商品参数*/
.detailparemeterimg{
	width: 1200px;
	margin: 0 auto;
}
.detailparameter{
	overflow: hidden;
}
.parameter{
	font-family: simsun;
	font-size: 14px;
	color: #666666;
	padding-top: 36px;
	width: 378px;
	float: left;
	height: 200px;
}
.parameter span{
	white-space: normal;
	display: inline-block;
	 white-space:pre-wrap;
	 word-wrap : break-word ;
	 overflow: hidden ;
	 width: 342px;
	 overflow: hidden;
}
.detailparameter .parameter:nth-child(2){
	margin-left: 31px;
	margin-right: 31px;
}

/*图文详情*/
.detailimgdiv{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.detailimgdiv img{
	margin: 0 auto;
}
.detailimg .detailimgdiv:nth-child(1){
	margin-top: 60px;
}
