
.logo{
	height: 100%;
}

.logo div{
	float: left;
	margin-top: 32.5px;
	margin-bottom: 32.5px;
}
.logo .logo-brand{
	margin-left: 0px;
	height: 80px;
}
.logo .welcomeLogin{
	border-left: 1px solid #333333;
	height: 80px;
	text-align: center;
	line-height: 80px;
	color: #333333;
	font-family: "微软雅黑";
	font-size: 18px;
	padding-left: 18px;
	margin-left: 24px;
}
