
.hotsalecontent{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.hotsalecontentTitle{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333333;
	overflow: hidden;
	height: 70px;
	border-bottom: 3px solid #CCCCCC;
}
.hotsalecontentTitle .hotsalecontentTitlebtn{
	position: absolute;
}
.hotsalecontentTitle span{
	float: left;
	line-height: 70px;
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100px;
	text-align: center;
	cursor: pointer;
}
.hotsalecontentTitle select{
	float: right;
	border: 0px !important;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../image/多边形-1-拷贝.png) no-repeat scroll right center transparent;
	padding-right: 20px;
	outline: none;
	margin-top: 20px ;
	font-family: simsun !important;
}
.hotsalecontentTitle span.hotsalbtnactive{
	color: #ea68a2 !important;
	height: 73px;
	border-bottom: 5px solid #EA68A2;
	z-index: 100;
}
/*imglist styke*/
.hotsalelist{
	margin-top: 20px;
	overflow: hidden;
}

.hotsalelist .hotsaleimglist{
	float: left;
	width: 240px;
}
.hotsaleimglist img, .hotsaleimglist span{
	display: block;
}
.hotsaleimglist span{
	padding-left: 12px;
	padding-right: 20px;
	font-family: simsun;
	font-size: 12px;
	color: #666666;
}
.hotsaleimglist span:nth-child(3){
	font-family: "微软雅黑";
	margin-top: 15px;
	color: #FF0000;
	font-size: 24px;
	font-weight:bold;
}
.hotsaleimglist span:nth-child(3) del{
	color: #666666;
	font-size: 14px;
	font-weight: normal;
}
.hotsaleimglist span:last-child{
	margin-top: 17px;
	color: #999999;
	font-size: 12px;
}
.hotsaleimglist span:last-child em{
	color: #3CB1F7;
	font-style: normal;
	font-size: 14px;
}

