.Pcontain{
	background-color: #3cb1f7;
}
.Pcontainleft{
	width: 1005;
	background-color: #3cb1f7;
}
.Pcontain .Plogo{
	width: 1200px;
	margin: 0 auto;
	height: 145px;
}
.Plogo div.Pl-left, .Plogo div.PL-center, .Plogo div.PL-right{
	float: left;
	height: 100%;
}
/*pl-left*/
.Plogo div.Pl-left{
	height: 145px;
	width: 279px;
	background: url(../../image/index/01-0我的订单_03.png) no-repeat left center;
}
/*center*/
.Plogo .PL-center ul li{
	list-style: none;
	float: left;
	margin-left:60px ;
	line-height: 145px;
}
.Plogo .PL-center ul li a{
	text-align: center;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 18px;
	text-decoration: none;
}
/*center 悬浮框*/
.Plogo .PL-center ul li:nth-child(2){
	position:  relative;
}

.Plogo .PL-center ul li:nth-child(2) div{
	position:  absolute;
	left: -20px;
	top: 100px;
	background-color: #313131;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	display: none;
}
.Plogo .PL-center ul li:nth-child(2) div span{
	position: absolute;
	left: 50%;
	top: -10px;
	transform: translate(-50%);
	display: inline-block;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #313131;
}
.Plogo .PL-center ul li:nth-child(2) div a{
	display: block;
	height: 50px;
	width: 120px;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid #5a5a5a;
	color: #FFFFFF;
	font-family: simsun;
	font-size: 14px;
}
.Plogo .PL-center ul li:nth-child(2) div a:last-child{
	border-bottom: 0px !important;
}

.menuActive{
	color: #3cb1f7 !important;
}
/*pl-right*/
.Plogo .PL-right{
	padding: 50px 20px 20px 45px;
}
.Plogo .PL-right input[type="text"]{
	height: 39px;
	padding-left: 10px;
	width: 270px;
	float: left;
	background-color: #ffffff;
	color: #999999;
	font-size: 14px;
	font-family: simsun;
	outline: none;
}

.Plogo .PL-right input[type="submit"]{
	height: 37px;
	background: url(../../image/搜索.png) no-repeat center center;
	background-position: 17px;
	text-align: center;
	width: 100px;
	cursor: pointer;
	border: 0px ;	
	border-left: 1px solid #3CB1F7 !important;
	background-color: #FFFFFF;
	margin-left: -2px;
	margin-top: 1px;
	color: #3CB1F7;
	font-family: "微软雅黑";
	font-size: 14px;
	outline: none;
}

::-webkit-input-placeholder {
	color: #999999;
	font-size: 14px;
	font-family: simsun;
}

:-moz-placeholder {
	color: #999999;
	font-size: 14px;
	font-family: simsun;
}

:-ms-input-placeholder {
	color: #999999;
	font-size: 14px;
	font-family: simsun;
}

.navs {
	overflow: hidden;
	margin-top: 17px;
	height: 14px;
}

.navs a{
	display: block;
	float: left;
	border-right: 1px solid #FFFFFF;
	text-align: center;
	height: 13px;
	line-height: 13px;
	width: 47px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: simsun;
	text-decoration: none;
}
.navs a:last-child{
	border: 0px !important;
}
.navs a:first-child{
	text-align: left;
}

/*car*/
.Plogo .car{
	text-align: center;
	height: 39px;
	line-height: 39px;
	margin-top: 50px;
	width: 150px;
	background-color: #FFFFFF;
	color: #3cb1f7;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
}
.car img{
	padding-right: 5px;
}
.car .badge{
	background-color: #FF0000 !important;
	color: #FFFFFF !important;
	position: absolute;
	top: -30%;
	border-bottom-left-radius:10%;
}

.datainfor{
	width: 1200px;
	margin: 0 auto;
}
.breadcrumb{
	padding-top: 40px !important;
	background-color: #FFFFFF !important;
}
.breadcrumb li +li:before{
	content: ">" !important;
}
.breadcrumb li a{
	font-family: simsun;
	font-size: 14px;
	color: #666666;
}

.Nowactive{
	font-weight: bold;
}

